In [4]:
import pandas as pd

In [5]:
hotel_info_df = pd.read_csv('./Hotels-50K/input/dataset/hotel_info.csv')
hotel_info_df.head()

,hotel_id,hotel_name,chain_id,latitude,longitude
0,391,Extended Stay America - Fairbanks - Old Airpor...,72,64.83538,-147.82330
1,392,Hilton Hangzhou Qiandao Lake Resort,3,29.60819,119.07290
2,393,Taj Lands End,-1,19.04391,72.81879
3,395,Cambridge Suites Hotel Sydney,-1,46.13663,-60.19551
4,396,Tamanu Beach,14,-18.84213,-159.78794

In [6]:
chain_info_df = pd.read_csv('./Hotels-50K/input/dataset/chain_info.csv')
chain_info_df.head()

   chain_id    chain_name
0        -1       unknown
1         0  Best Western
2         1         Hyatt
3         2      Marriott
4         3        Hilton